.coin-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;

  @media (min-width: 575px) {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .coin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

    @media (min-width: 575px) {
      justify-content: flex-start;
      // max-width: 40%;
      width: 40%;
    }

    &__img {
      max-width: 100px;

      @media (min-width: 575px) {
        margin: 0 40px 0 20px;
      }
    }
  }

  .coin-data {
    line-height: 28px;

    @media (min-width: 575px) {
      width: 50%;
     margin-left: 50px;
    }

    &__exchange {
      display: flex;
    }

    &__percent {
      width: 100px;
      margin: 0 10px;
      letter-spacing: 1px;
    }
  }
}

.red {
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #f00606;
  span {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #f00606;
  }
}

.green {
  display: flex;
  color: #11d811;

  span {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color:  #11d811;
  }
}